body {
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}
.module1 {
    background-color: aqua;
    height: 33.3vh;
    width: 100vw;
}
.module2 {
    background-color: coral;
    height: 33.3vh;
    width: 100vw;
}
.module3 {
    background-color: deeppink;
    height: 33.3vh;
    width: 100vw;
}
.menubar1, .menubar2, .menubar3 { 
    width: 2em;
    height: 0.3em;
    background-color: darkblue;
    margin: 6px 0;
    transition: 0.4s;
}
.change .menubar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .menubar2 {
  opacity: 0;
}
.change .menubar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
.drawer-close {
    display: none;
}
.drawer-open {
    display: block;
}